.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    width:80%;
    justify-content: center;
    
}.container:not(:last-child){
   gap: 10px;
}.header{
    text-align: center;
    font-weight: bolder;
    color: var(--font-color);
}