*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 26, 26);
    height: 70px;
}
.leftNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    color: var(--font-secondary-color);
}
.leftNav a:hover{
    color: var(--secondary-color);
}
.rightNav{
    display: flex;
    width: 300px;
}

.inputField{
    height: 30px;
    padding: 5px;
    border: 1px solid var(--font-secondary-color);

}
.navLink{
    height: 100%;   
    position: relative;
    text-decoration: none;

    color: rgb(153, 151, 151);
}
.navImg{
width: 150px;
    
}
a{
    text-decoration: none;
}